/* PostPage スタイル */

.container {
  min-height: 100%;
  background-color: #f9fafb;
  /* gray-50 */
  padding: 2.5rem 1rem;
  /* py-10 px-4 */
}

.innerContainer {
  max-width: 72rem;
  /* 6xl */
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 1.875rem;
  /* text-3xl */
  line-height: 2.25rem;
  font-weight: 700;
  /* font-bold */
  text-align: center;
  color: #1f2937;
  /* text-gray-800 */
  margin-bottom: 2.5rem;
  /* mb-10 */
}

.mainContent {
  width: 100%;
}


.errorMessage {
  text-align: center;
  margin-top: 2.5rem;
  /* mt-10 */
  color: #ef4444;
  /* text-red-500 */
}